@import "globals.less";


body {
  font-family: @font-family-main;
  background-color: @background-main;
}

.map-container {
  position: fixed;
  top: 50px;
  left: 200px;
  width: 100%;
  height: 100%;
}

#map-canvas {
  display: block;
  height: 100%;
  width: 100%;
  .hidden {
    display: none;
  }
}

td {
  a:hover {
    text-decoration: none;
  }
}

.header-container {
  margin-top: 40px;
}

.hidden {
  display: none;
}

.donut-small {
  height: 200px;
}

.icon-link {
  width: 80px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  img {
    width: 80px;
    opacity: 0.8;
  }
}

//left bar
.left-bar {
  -ms-overflow-style: none;/*auto | none | scrollbar | -ms-autohiding-scrollbar*/
  width: 220px;
  background : @left-bar-colour;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  border-right: 1px solid darken(@left-bar-colour, 20%);
  .icon {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 8px;
    background-color: @form-highlight-colour;
    img {
      width: 60px;
    }
    a:hover {
      img {
        width: 60px;
        background-color: darken(@form-highlight-colour, 10%);
        border-radius: 8px;
      }
    }
  }
}

#menu-tree {
  height: 100%;
}

//menu panel accordion
#accordion-menu {
  padding: 0;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  width: 200px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

//filter list

.right-bar {
  -ms-overflow-style: none;/*auto | none | scrollbar | -ms-autohiding-scrollbar*/
  width: 200px;
  background : fade(@left-bar-colour, 50%);
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 3;
  height: fit-content;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid darken(@left-bar-colour, 20%);
  .filter-list {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    .icon {
      margin-top: 30px;
      width: 80px;
      height: 80px;
      margin-left: 70px;
      margin-right: auto;
      border-radius: 8px;
      background-color: @form-highlight-colour;
      opacity: 0.9;
      img {
        width: 80px;
      }
      a:hover {
        img {
          width: 80px;
          background-color: darken(@form-highlight-colour, 10%);
          border-radius: 8px;
        }
      }
    }
  }
}

li.active {
  a.pill-select {
    &.inactive {
      background-color: @white-medium;
      color: black;
      border: 1px solid @grey-medium;
      height: 35px;
      line-height: 15px;
    }
  }
}

.nav-stacked {
  margin-bottom: 15px;
  height: 30px;
  font-size: 12px;
}

// map

#insert-map {
  position: fixed;
  left: 200px;
  top: 80px;
  width: auto;
  height: auto;
}

.ozmap {
  margin-left: 150px;
  margin-top: 30px;
  width: 700px;
}

//top bar

.top-bar {
  background : @top-bar-colour;
  width: 100%;
  height: @top-bar-height;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid darken(@grey-medium, 10%);
  .icon-container {
    width: 50%;
    height: @top-bar-height;
    float: right;
    z-index: 4;
    img {
      float: right;
      margin-right: 30px;
      width: 50px;
      margin-top: 8px;
      cursor: pointer;
    }
  }
}

.switch-container {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: grey;
    border: 1px solid grey;
    cursor: pointer;
    span {
      color: white;
      font-size: 16px;
      margin-left: 30px;
      margin-top: 10px;
      line-height: 30px;
      font-weight: bold;
    }
    &.mobile {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &.fixed {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: 0;
    }
    &.current {
      background-color: #90ce38;
      border: 1px solid white;
      cursor: default;
    }
  }

.switch-container:not(.current):hover {
  background-color: darken(#90ce38, 10%);
}

.switch-container:not(.current):active {
  background-color: darken(#90ce38, 15%);
}

#icon-staff {
  cursor: auto;
}

//bottom bar

.bottom-bar {
  background : @grey-light;
  height: @bottom-bar-height;
  padding: 0;
  margin: 0;
  z-index: 3;
  .form-horizontal.container {
    margin-left: 0px;
  }
}

// tables

.centre {
  text-align: center;
}

.row-highlight {
  background-color: @grey-dark !important;
}

.text {
  &.bold {
    font-weight: bold;
  }
  &.left-indent {
    text-indent: 10px;
  }
  &.white {
    color: white;
  }
  &.current {
    background-color: #c4ea98;
    font-weight: bold;
  }
}

.ranking {
  &.green {
    background-color: #c4ea98;
  }
  &.orange {
    background-color: #f2bf40;
  }
  &.red {
    background-color: #f7796f;
  }
}

.border-right {
  border-right: 1px solid gray;
}

.text-in-tab {
  position: relative;
  margin-top: 7px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: 'arial', san-serif;
}

.table-tab {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 35%;
  width: fit-content;
  white-space: nowrap;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: darken(@form-panel-colour, 10%);
  border: 1px solid @form-highlight-colour;
  margin: 0;
  padding-top: 0;
  padding-left: 2%;
  padding-right: 4%;
  z-index: 2;
}

#table-filter-1 {
  width: 100%;
  height: 100%;
}

#table-filter-2 {
  width: 400px;
}

#nation-search,
#document-search {
  width: 300px;
}

.row.asset-table {
  min-width: 1200px;
  height: 100%;
  margin-left: 20px;
  position: relative;
  overflow-x: scroll;
}

.form-panel {
  background-color: @form-panel-colour;
  border: @form-panel-border;
  border-radius: @form-panel-border-radius;
  -webkit-border-radius: 12px;
  box-shadow: 5px 5px 2px 2px @form-panel-outer-shadow;
  -webkit-box-shadow: 5px 5px 2px 2px @form-panel-outer-shadow;
  margin: 30px auto 40px 30px;
  display: inline-block;
  width: 90% !important;
  min-height: 250px;
  padding: 30px 5px 20px 5px;
  float: left;
  &.full-width {
    @media @widthMediumLarge {
      width: 90% !important;
    }
    @media @widthLarge {
      width: 95% !important;
    }
  }
  &.title-panel {
    min-height: 50px;
    padding: 15px;
    margin: 15px auto 5px 30px;
  }
  &.tab-panel {
    min-height: 50px;
    padding: 20px;
    margin: 0 auto 10px 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

// .row-top {
//   margin-top: 30px;
// }

.compliance-container {
  position: absolute;
  left: 220px;
  top: 120px;
}

// tab styling

.nav-tabs {
  li {
    a {
      background-color: lighten(#82afd1, 20%);
      // border-bottom-color: @white !important;
      color: @black;
      box-shadow: -1px -1px 1px @grey-dark;
      border-radius: 8px 8px 0 0;
    }
    &.active {
      a {
      background-color: @form-highlight-colour;
      // border-bottom-color: @white !important;
      color: @white;
      font-weight: bold;
      box-shadow: -1px -1px 1px @grey-dark;
      border-radius: 8px 8px 0 0;
      }
    }
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: @white;
  cursor: default;
  background-color: #82afd1;
  border: 1px solid #82afd1;
}

.nav-tabs {
  &.nav-justified {
    &.compliance-tabs {
      width: 95%;
      margin-left: 30px;
      margin-right: auto;
    }
  }
}

.nav-tabs {
  &.nav-justified {
    &.site-tabs {
      width: 95%;
      margin-left: 30px;
      margin-right: auto;
    }
  }
}

// table styling

.activity-data-table {
  .form-control {
    height: 28px !important;
    margin-top: 5px;
  }
  .text {
    margin-top: 10px;
  }
  tr{
    height: 35px;
  }
}

.table-header {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: @grey-dark;
  color: @white;
  font-size: 16px;
  text-indent: 50px;
  border-bottom: 1px solid @form-highlight-colour;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  span {
    line-height: 30px;
    margin-bottom: 20px;
    height: 20px;
    font-weight: bold;
  }
  .activity-table-search {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 20px;
    input {
      height: 26px;
      margin-top: 12px;
      border-radius: 13px;
      line-height: 10px;
      text-indent: 10px;
      width: 400px;
      box-shadow: inset 3px 3px 2px @grey-medium;
      font-size: 12px;
      color: @grey-dark;
      background-color: @grey-light;
    }
    button {
      border-color: transparent;
      position: absolute;
      right: 20px;
      top: 9px;
      width: 5px;
      height: 5px;
      background-color: transparent;
      color: @grey-medium-dark;
    }
  }
}

// table column widths
.tbl-edit {
  width: 2%;
}
.tbl-activity {
  width: 20%;
}
.tbl-invoice {
  width: 15%;
}
.tbl-estimate {
  width: 10%;
}
.tbl-measure {
  width: 10%;
}
.tbl-unit {
  width: 2%;
}
.tbl-total {
  width: 3%;
}
.tbl-comments {
  // width:20%;
}

//qtip general

.qtip {
  max-width: 1200px !important;
  min-width: 50px !important;
}

.qtip-close {
  width: 30px !important;
  height: 30px !important;
  right: 5px !important;
  top: 5px !important;
  border-style: none !important;
  background-image:url('../images/close-button.png') !important;
  background-repeat:no-repeat;
  background-size: contain !important;
}

//bootstrap-select overrides
.btn-group.bootstrap-select {
  margin-bottom: 0;
}

.bootstrap-select.btn-group > .disabled {
  background-color: #eee !important;
}

// field required disabled
input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
  color: lighten(@black, 50%);
}

//plant

.qtip {
  &.qtip-plant {
    .qtip-content {
      width: 900px !important;
      height: 430px !important;
    }
  }
}

.whole-plant {
  width: 90%;
  margin-top: 30px;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.mobile-plant {
  border-radius: 5px;
  width: 200px;
  display: inline-block;
  &.info {
    width: 160px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.thumbnail {
  background-color: @form-panel-colour;
}

.info-wrapper {
  margin-left: 200px;
  margin-top: 50px;
  width: fit-content;
}

.plant-page-content {
  width: 100%;
}

.info-box {
  border-left: 1px solid @grey-light;
  border-bottom: 1px solid @grey-light;
  height: fit-content;
}

.info-content {
  margin: 15px;
  // background-color: @grey-light;
  // border-radius: 5px;
  // border: none;
}

//slidepanel

.asset-table {
  width: fit-content;
}

.cb_slide_panel {
  background: @grey-light !important;
  &.panel-bottom {
    .wrapper {
    }
  }
}

a#slidepanel-link {
  position: fixed;
  bottom: 0;
  left: 40%;
  height: 40px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  width: fit-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid @form-highlight-colour;
  border-left: 1px solid @form-highlight-colour;
  border-right: 1px solid @form-highlight-colour;
  background-color: @grey-light;
  box-shadow: 3px 3px 3px 3px grey;
  text-decoration: none;
  span {
    color: @grey-dark;
    font-weight: bold;
  }
}

.wrapper {
  .close {
    opacity: 0.8 !important;
  }
}

// a#slidepanel-filters-link {
//   position: fixed;
//   right: 0;
//   top: 40%;
//   width: 50px;
//   padding-top: 10px;
//   padding-left: 10px;
//   padding-right: 10px;
//   height: 50px;
//   line-height: 50px;
//   border-top-left-radius: 5px;
//   border-bottom-left-radius: 5px;
//   border-top: 1px solid @form-highlight-colour;
//   border-left: 1px solid @form-highlight-colour;
//   border-bottom: 1px solid @form-highlight-colour;
//   background-color: @grey-light;
//   box-shadow: 3px 3px 3px 3px grey;
//   text-decoration: none;
//   span {
//     color: @grey-dark;
//     font-weight: bold;
//   }
// }

//assets

.title-container {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 50px;
  left: 220px;
  background-color: @background-main;
  z-index: 5;
}

.asset-headers {
  font-size: 24px;
  position: absolute;
  top: 10px;
  color: black;
  display: inline-block;
  z-index: 5;
  &.type {
    left: 30px;
    color: @form-highlight-colour;
    font-size: 24px;
    top: 12px;
  }
  &.site {
    left: 250px;
    font-style: italic;
    font-size: 16px;
    top: 20px;
  }
}

.asset-image {
  img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
  }
}

.process-image {
  img {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
  }
}

.attachment {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.details-panel {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-height: 100px;
  border-radius: 5px;
  background-color: @grey-light;
  border: 1px solid @form-highlight-colour;
  padding: 10px;
  input {
    border-radius: 5px;
    background-color: @grey-light;
    color: @grey-dark;
  }
}

input {
  border-radius: 4px;
}

//stats

.stats-container {
  margin-left: 200px;
  margin-top: 60px;
}

.chart {
  margin-left: 10px;
  position: relative;
  float: left;
  margin-bottom: 50px;
  width: 95%;
  height: auto;
  border: 1px solid @white-medium;
  border-radius: 10px;
  background-color: @white-light;
  box-shadow: 1px 1px 1px grey;
  &.menu-green {
    border-left: 100px solid @menu-green;
  }
  &.menu-orange {
    border-left: 100px solid @menu-orange;
  }
  &.menu-red {
    border-left: 100px solid @menu-red;
  }
}

.chart-side {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  overflow: hidden;
  border: 1px solid @white-medium;
  border-radius: 10px;
  background-color: @white-light;
  box-shadow: 1px 1px 1px grey;
  padding: 20px;
}

.donut-small {
  height: 200px;
}

// file upload attachment styling
input[type="file"] {
  position: relative;
  opacity: 0;
  z-index: 2;
}

.file-select {
  width: auto;
  height: 30px;
// }

// .button-only {
//   width: auto;
//   height: 33px;
// }

//bootstrap general overrides
.input-group-addon {
  // min-width:50px;
  text-align:right;
  &.layers {
    min-width: 30px;
  }
}

.form-control {
  float: right;
}

.form-control[readonly] {
  background-color: white;
  cursor: text;
}

.picker__holder {
  th {
    text-align: center;
  }
}

.search {
  width: 50%;
  float: left;
}

// webkit overrides
input[type="date"] {
  -webkit-appearance: none;
}

//bootstrap-select overrides
.btn-group.bootstrap-select {
  margin-bottom: 0;
}

.bootstrap-select.btn-group > .disabled {
  background-color: #eee !important;
}

.input-group {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.item {
  .input-group-addon, .input-group-btn, .input-group, .form-control {
  display: inline-block;
  }
  input[type="checkbox"] {
  margin-left: 10px;
  }
}
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
}

.btn.attachment {
  height: 30px;
  float: right;
  font-weight: bold;
}

.item {
  width: 100%;
  display: block !important;
  height: 90%;
  overflow-y: none;
  font-weight: bold;
  ul {
    background-color: @left-bar-colour;
  }
  li {
    width: 200px;
    background-color: @accordion-item;
    list-style: none;
    border-bottom: 1px solid @accordion-item;
    margin-top: 5px;
    text-align: left;
    &.second {
      background-color: lighten(@accordion-item, 15%);
      border-bottom: 1px solid @left-bar-colour;
      a {
        margin-left: 10px;
      }
    }
    &.third {
      background-color: lighten(@accordion-item, 20%);
      border-bottom: 1px solid @left-bar-colour;
      a {
        margin-left: 20px;
      }
    }
    &.fourth {
      background-color: lighten(@accordion-item, 25%);
      border-bottom: 1px solid @left-bar-colour;
      a {
        margin-left: 30px;
      }
    }
    &.layer {
      border-bottom: none;
      background-color: @left-bar-colour;
    }
    a {
      color: @white;
      text-decoration: none;
      padding: 5px;
      vertical-align: middle;
      display: inline-block;
      &.truncate {
        text-overflow: ellipsis;
        width: 140px;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 0;
      }
      &.link {
        background-color: @left-bar-colour;
        width: 100%;
        color: @white;
      }
    }
  }
}


//form validation with parsely js
input[data-required="true"] {
  background-color: @form-background-required !important;
  border: 1px solid @form-border-required !important;
}

select[data-required="true"] {
  background-color: @form-background-required !important;
  border: 1px solid @form-border-required !important;
  button {
    background-color: @form-background-required !important;
    border: 1px solid @form-border-required !important;
  }
}

textarea[data-required="true"] {
  background-color: @form-background-required !important;
  border: 1px solid @form-border-required !important;
}

select[data-required="true"] ~ .btn-group.bootstrap-select.show-tick.form-control {
  button{
    background-color: @form-background-required !important;
    border: 1px solid @form-border-required !important;
  }
}

span.glyphicon-flag {
  color: red;
  cursor: pointer;
}

.tab-panel {

}

// form buttons
.form-buttons {
  width: 100%;
  display: block;
  float: right;
  height: 70px;
    .form-button {
    float: right;
    height: 30px;
    min-width: 120px;
    -webkit-border-radius: 20px;
    box-shadow: 2px 2px 2px grey;
    -webkit-box-shadow: 2px 2px 2px grey;
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    font: @form-button-font;
    color: @white;
    &.save-button {
    background-color: @save-button-colour;
    letter-spacing: 2px;
    }
    &.cancel-button {
    background-color: @cancel-button-colour;
    letter-spacing: 2px;
    }
  }
}

//bootbox notifications styling

.compliance-alert-bootbox {
  .bootbox-body {
    color: red !important;
    font-size: 16px !important;
  }
}

.bottom-bar-link {
  color: blue;
  cursor: pointer;
}
.bottom-bar-link:hover {
  color: lighten(blue, 10%);
  cursor: pointer;
}

.dashboard {
  border-bottom: 1px solid @form-highlight-colour;
  &.col-12 {
    background-color: @form-panel-colour;
  }
  &.form-header {
    margin-bottom: 0;
  }
}

//canvasjs styling overrides
.chart {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  &.small {
    width: 450px;
    height: 450px;
    margin-left: 0;
  }
  &.large {
    height: 450px;
    width: 900px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}